* {
	margin: 0;
	padding: 0;
}
a{
	color:#000;
	text-decoration: none;
}

/*整体包裹区*/
#wrapper {
	width:100%;
	min-height:700px;
}
/*内容区*/
.container{
	width:70%;
	height:100%;
	margin-left: 15%;
}

/*头部*/
.header{
	height: 90px;
	width:100%;
	background-image: url('../images/headbg.png');
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 0px 1px #aaa;
}
.header-img{
	height: 60px;
	margin-top:18px;
	width:320px;
}
/*搜索区域*/
.search-area{
	float: right;
	margin-top:;
	height: 30px;
	margin-top: 30px;
}
.search {
	width:220px;
	height :100%;
	float:left;
	margin-top:;
	padding-left: 10px;
	border: 1px solid #0774D9;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.dosearch{
	float: left;
	height :32px;
	width: 80px;
	border: 1px solid #0774D9;
	background: #0774D9;
	color:#fff;
	font-size: 1.0em;
	cursor: pointer;
}
/*中心区*/
.main{
	padding-top: 55px;
	width:100%;
	height:550px;
	/*height:auto;*/
}
/*左边区域*/
.main-left{
	width:67%;
	min-height: 380px;
	margin-right:1%;
	float: left;
	background-image: url('../images/login/login.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/*左区文字信息*/
.main-left-information {
	display: inline-block;
	position: relative;
	left: 70px;
	top: 5px;
}
.main-left h1 {
	font-size: 1.5em;
	font-weight: 400;
}
.main-left p{
	margin-left: 10px;
	color:#444;
	font-size: 0.8em;
	margin-top: 8px;
	line-height: 25px;
}
/*登录表单*/
.main-right{
	width: 30%;
	float: right;
	margin-top: 0px;
	min-height:320px;
	padding-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 7px;
}
.form-head{
	height:60px;
	background: #F9FBFE;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	font-size: 1.4em;
	text-indent: 10%;
	color: #333;
	letter-spacing: 2px;
	line-height: 60px;
}
.main-right form {
	height: auto;
	float: left;
}
.main-right form span {
	width: 80%;
	height:40px;
	display: inline-block;
	margin-top: 12px;
	margin-left: 10%;
	float: left;
}
.main-right form span input {
	width: 85%;
	height: 100%;
	border-radius: 3px;
	border: 1px solid #aaa;
	padding-left: 40px;
	font-size: 0.9em;
	letter-spacing: 1px;
	color: #333;
}
/*用户名*/
.main-right form span input.username {
	background-image: url('../images/login/user.png');
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: 8px 10px;
}
/*密码*/
.main-right form span input.password {
	background-image: url('../images/login/password.png');
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
}
/*验证码*/
.main-right form span input.code {
	width:30%;
	height:100%;
	background-image: url('../images/login/code.png');
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: 10px 12px;
	margin-bottom: 10px;
}
/*提示错误信息*/
.main-right form span.error {
	height:30px;
	line-height: 38px;
	color: red;
	font-size: 0.9em;
}
/*登录按钮*/
.main-right form span input.submit {
	width: 100%;
	padding-left: 0;
	letter-spacing: 5px;
	background: #09629C;
	border-radius: 5px;
	border: 1px solid #aaa;
	color: #fff;
	cursor: pointer;
}
/*记住密码*/
.main-right form div {
	width:80%;
	margin-left: 10%;
	float: left;
	margin-top: 8px;
	font-size: 0.8em;	
	display: inline-block;
	color: #333;
}
.main-right form div input {
	position: relative;
	top: 2px;
	margin-left: 5px;
}
/*忘记密码*/
.main-right form div a {
	float:right;
	margin-right: 5px;
	color: red;
}
/*中心区底部介绍*/
.main-bottom {
	width: 100%;
	height: 130px;
	margin-top: 30px;
	/*border: 1px solid black;*/
	float: left;
}
.section{
	width:24%;
	height:100px;
	margin-top: 15px;
	/*background: #eee;*/
	float: left;
	border-left: 2px solid #ccc;
}
.main-bottom .section:nth-child(4){
	border-right: 2px solid #ccc;
}
.section img {
	width:50%;
	margin-left: 5%;
	height:100%;
	float: left;
}
.section h5{
	width:42%;
	margin-right: 2%;
	display: inline-block;
	font-size: 1.2em;
	font-weight: 400;
	color: #444;
	margin-top: 20px;
	text-align: center;
	float: left;
}
.section h6{
	width:40%;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 400;
	color: #999;
	margin-top: 5px;
	text-align: center;
	float: left;
}
/*尾部*/
.footer{
	width:100%;
	height:80px;
	margin-top: 15px;
	/*position: absolute;
	bottom:0;
	left: 0;*/
	background: #fafafa;
	border-top: 1px solid #ddd;
	box-shadow: 0px 0px 1px #aaa;
}
.footer span{
	height:100%;
	font-size: 1.0em;
	display: inline-block;
	line-height: 80px;
}
.footer-left {
	min-width:50%;
	float: left;
}
.footer-left h6{
	display:inline;
	font-size: 0.9em;
	font-weight: 300;
	color:red;
	margin-right:10px;
}
.footer-left a{
	margin-right: 7px;
	color: #4078c0;
	font-size: 0.9em;

}
.footer-right {
	width:auto;
	float: right;
	text-align: right;
	color:#555;
	font-weight: 300;
}
.footer-right a{
	font-size: 0.9em;
	color:#555;
	font-weight: 300;
}
.footer-right a img {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: relative;
	top:4px;
}
